<div class="container"  style="margin-top: 30px">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            {{#if user_active}}
                <a class="nav-link" href="/logout">Logout</a>
            {{else}}
                <a class="nav-link" href="/login">Login</a>
            {{/if}}
        </li>
    </ul>
    <h2>Movies List</h2>
    <p>Type something in the input field to search for the movie by title, genre.</p>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search for a movie by title" id="movietitle">
        <div class="input-group-append">
            <button class="btn btn-success" type="submit" id="searchbutton">Go</button>
        </div>
    </div>
    <div class="dropdown show row justify-content-center ">
        <div class="dropdown show row justify-content-center ">
            <select class="btn btn-secondary dropdown-toggle ml-5 mr-5" name="day" id="select" onchange="javascript:filterMovie(this)" placeholder="Genre">
                <option value="">Genre</option>
                <option value="28">Action</option>
                <option value="12">Adventure</option>
                <option value="16">Animation</option>
                <option value="35">Comedy</option>
                <option value="80">Crime</option>
                <option value="99">Documentary</option>
                <option value="18">Drama</option>
                <option value="10751">Family</option>
                <option value="14">Fantasy</option>
                <option value="36">History</option>
                <option value="27">Horror</option>
                <option value="10402">Music</option>
                <option value="9648">Mystery</option>
                <option value="10749">Romance</option>
                <option value="878">Science Fiction</option>
                <option value="10770">TV Movie</option>
                <option value="53">Thriller</option>
                <option value="10752">War</option>
                <option value="37">Western</option>
            </select>
        </div>
    </div>
    <br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Poster</th>
                <th>Movie Title</th>
                <th>Community score</th>
                <th>No of users voted</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {{> movies}}
        </tbody>
    </table>
</div>
