<div class="row justify-content-md-center" style="margin-top: 30px">
    <div class="row content-md-center">
        <h3>Welcome to MovieDB!</h3>
        <br>
        <h4>Register your details below and get a free acoount!</h4>
    </div>
    <div class="col-md-4">
        {{#if message}}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
            </div>
        {{/if}}
        <form method="POST" action="/register">
            <div class="form-group">
                <label for="firstName">First Name <sup>*</sup></label>
                <input name="firstName" type="text" class="form-control" id="firstName" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name <sup>*</sup></label>
                <input name="lastName" type="text" class="form-control" id="lastName" required>
            </div>
            <div class="form-group">
                <label for="email">Email address <sup>*</sup></label>
                <input name="email" type="email" class="form-control" id="email" required placeholder="Enter email" title="Please use this detail as your userid to login!">
            </div>
            <div class="form-group">
                <label for="password">Password <sup>*</sup></label>
                <input name="password" type="password" class="form-control" id="password"  required title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters" placeholder="Password" >
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password <sup>*</sup></label>
                <input name="confirmPassword" type="password" class="form-control" title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters" id="confirmPassword" placeholder="Re-enter your password here">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <a class="mt-3" href="/login">Already have an account? Log In here.</a>
    </div>
</div>
